@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-neutral-200;
}

.form-select {
  @apply flex w-full min-w-20 appearance-none rounded-md border border-neutral-800 bg-neutral-950 px-3 py-2 text-xs ring-offset-blue-900 file:border-0 file:bg-transparent placeholder:text-slate-500 autofill:!bg-transparent focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-950 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}
.add-node-nav-item {
  @apply flex items-center gap-2 px-1 sm:px-2 w-full py-2 text-xs hover:bg-white/10 hover:text-neutral-300 sm:text-sm;
}

.add-node-nav-item.active {
  @apply bg-blue-800 text-neutral-300 w-full;
}

.add-node-card {
  @apply h-full sm:min-h-32 w-full rounded bg-neutral-900 p-4 text-neutral-300 hover:scale-100 hover:ring-2;
}

.react-flow__controls-button {
  @apply !border-neutral-700 !bg-neutral-900 fill-slate-500 !stroke-neutral-300 hover:!bg-neutral-800;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
